<template>
    <div>
        <form @submit="addTodo">
            <input type="text" v-model="title" name="title" placeholder="Add a Todo Item...">
            <input type="submit" value="Add" class="btn">
        </form>
    </div>
</template>

<script>

import uuid from 'uuid';

export default {
    name: "AddTodo",
    data(){
        return {
            title: ''
        }
    },
    methods: {
        addTodo(e){
            e.preventDefault();
            if (this.title != ''){
                const newTodo = {
                    id: uuid.v4(),
                    title: this.title,
                    completed: false
                }
                this.$emit('add-todo', newTodo);

                this.title = ''; // Clear the form after entering todo
            } else {
                this.title = 'Error: Cannot enter a null value...';
            }
        }
    }
}
</script>

<style scoped>
    form{
        display: flex;
        padding: 5px;
    }

    input[type="text"] {
        flex: 10;
        padding: 5px;
    }

    input[type="submit"]{
        flex: 2;
    }
</style>
