<template>
    <header class="header">
        <div class="title">
            <img src="../../assets/tick.png" height="38" width="38"/>
            <h1>MyTodos</h1>
        </div>
    </header>
</template>

<script>
export default {
    name: "Header"
}
</script>

<style scoped>
    .header{
        background: #333333;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    .header a{
        color: #ffffff;
        padding-right: 5px;
    }

    h1, img{
        float: left;
    }

    .title{
        margin-top: 1%;
        display: inline-block;
    }
</style>
